p.
    1 Does the website look professional and is it aesthetically pleasing?

label(for="q1yes") It brought a tear to my eye. :’)
input#q1yes(type="radio", name="q1", value="1")
label(for="q1no") It brought a tear to my eye. :’(
input#q1no(type="radio", name="q1", value="0")
