p.
    2 Is there a professional logo?

label(for="q1yes") Like Michelangelo himself sculpted it.
input#q1yes(type="radio", name="q1", value="1")
label(for="q1no") It’s like Comic Sans and Papyrus had a baby.
input#q1no(type="radio", name="q1", value="0")
