p.
    4 Is there a contact number on the top of the website?

label(for="q1yes") YES
input#q1yes(type="radio", name="q1", value="1")
label(for="q1no") I’d have more luck getting digits from a supermodel.
input#q1no(type="radio", name="q1", value="0")
