p.
    Is the menu navigation logical and easy to move around the website?

label(for="q1yes") YES
input#q1yes(type="radio", name="q1", value="1")
label(for="q1no") I just wanted to use the word “labyrinthine”.
input#q1no(type="radio", name="q1", value="0")
