mixin longNegative(weakness)
    case weakness.id
        when 'a'
            p.
                On first impression your website is [cluttered/overly busy/confusing].
                Unfortunately online visitors are pretty savvy and will judge your
                whole business by what they see in the first 3 seconds, and right now
                I don't think you're getting the response you deserve.
            p.
                So I'd like to create a completely new design for you that reflects
                your professionalism and your personality. And of course, to make it
                easy for your visitors to navigate around your site and
                [buy your products/request a quote/contact you/
                sign up to your newsletter/whatever their main goal is].
        when 'b'
            p.
                In my opinion your logo needs a refresh as it could better
                represent who you are and what you do. A logo isn't the most
                important thing on your website, but it needs to look top notch.
            p.
                Your logo is [getting lost/incorrectly placed/too small/too large].
                It should be on every page ideally on the top left hand side as
                that is where your visitors will expect to see it.
            p.
                It shouldn't be the biggest part of your web page, but it's
                important just the same.
        when 'c'
            p.
                Your main banner on your site is missing a clear call to action.
                You need a strong message with high quality visuals. I can't tell
                you how effective this is for converting visitors into customers.
        when 'd'
            p.
                The websites that give you the best return make it easy for web
                visitors to contact you. You should have a phone number on the
                top of your website. People don't have the patience to click
                through to a 'contact us' page anymore (especially if they're
                on a mobile and the menu buttons are too small to click), you
                could be losing a lot of potential customers right now.
        when 'e'
            p.
                Your current website isn't communicating what you do quickly
                enough. For example, if I cover your logo up with my hand,
                I can't immediately tell what your business does without going
                deeper into your website and reading more copy. This is a problem
                because the typical web visitor only gives you about 3 seconds
                to work out what you're about before they leave so I know you'll
                be losing a lot of potential business right now.
            p   We can turn that around though.
        when 'f'
            p.
                It's unclear what the main thing you web visitors to do. This
                needs to be obvious on every page to drive visitors towards an
                action or it's a wasted opportunity.
        when 'g'
            p.
                I can't easily see what you want visitors to do if they aren't
                ready to [get in touch with you yet/buy from you yet]. This is
                called a 'secondary call to action', and it needs to be on every
                page. Remember every visitor is precious and although they might
                not do what you want them to now, they might later.
        when 'h'
            p.
                Currently the navigation of your website isn't as clear as it
                could be. You want visitors to always know where they are, where
                they can go, and how to get back again.
            p.
                I recommend following no more than 3 levels deep, but I can work
                with you to create a logical flow for your new website that
                improves your conversion rate.
        when 'i'
            p.
                I noted that [you don't have any social media share buttons on
                your site/your social media share buttons are hard to see].
            p.
                Here's a statistic for you, customers believe 15% of what a brand
                says about itself, but 76% of what their peers say about a brand;
                our websites help you take advantage of this by making your
                content sharable across different types of social media.
        when 'j'
            p.
                I can see your website [doesn't have any/doesn't have many] ways
                to capture the emails of your web visitors. This is one of the
                biggest problems on your site right now. You need to be getting
                those emails so you can remind them to return to your site,
                so you can nurture them with positive email marketing until
                they're ready to buy.
            p.
                You'd be surprised what a difference this will make to your
                bottom line. I can see lots of ways to achieve more leads for you,
                including a few tricks that really get that happening, but we can
                talk about this in more detail later.
        when 'l'
            p.
                I typed your business name into Google and it didn't come up
                on the first page.
            p.
                This is really bad news because it's typically on of the easiest
                things to achieve with a well structured website that's Google
                friendly. You're losing customers who are trying to find you.
                Our sites are designed to make it easy for Google, and therefore
                your customers, to find you.
        when 'm'
            p.
                As soon as I plugged in your website I noticed how slow it was
                to load. People are impatient so today you need to be fast. If
                it takes less than three seconds to load you've already lost a
                heap of traffic who won't want to wait.
            p.
                Our sites strike the right balance between imagery and text and
                we won't use bloated flash images. Also, your site will be hosted
                in Australia with a powerfully fast server so your website won't
                be held back by the technical side of things.
            p.
                I can't tell you how many people go for the cheapest hosting out
                there and then wonder why their web traffic is suffering. You'll
                never have that problem with us.
        when 'o'
            p.
                I noticed your last web developer didn't add a unique page title
                tag for each of your pages. A title tag is what Google shows on
                your search engine results page. It's really important for your
                rankings and your traffic. It should also be unique for each
                page, not just the same summary on each page.
            p.
                We'll make sure this happens as a matter of course for you.
        when 'p'
            p.
                I noticed you have a page title on each page but you haven't
                included your business name/brand. Google is looking for this,
                so you best have it up there.
        when 'r'
            p.
                Straight away I could see you don't have enough text on your
                site. This is going to impact on how well you rank on the
                search engines. Before it decides where your website will rank
                Google wants to know what your site is all about, but it can't
                read images (yet) so words matter.
            p.
                We can work with you to develop more content, or even arrange
                for a professional copywriter to produce keyword-rich and
                Google-friendly copy if you'd like.
        when 's'
            p.
                It’s always hardest to write about ourselves, and I think there
                are some good elements there, but it could use some work.
                I think you may benefit from a professional copywriter’s help
                who is experienced in writing Google-friendly copy that engages
                readers and draws them into your site.
                If you’re interested we can arrange for a quote.
        when 't'
            p.
                Your copy is good, but it needs some work to make it
                more readable. Design matters, even with text.
        when 'u'
            p.
                From what I can see, it appears that you haven’t been using
                Google-friendly keywords in your copy, this won’t help your
                search engine rankings, but we can work with you
                and turn that around.
        when 'v'
            p.
                It’s great that you’re using headers in your copy,
                but you aren’t making best use of them…
                especially when it comes to getting seen by Google.
            p.
                We can help you with that.
        when 'w'
            p.
                I noticed there were some hyperlinks on your web pages that
                didn’t work. It doesn’t make a good impression on your
                web visitor, and you need to make sure every element of your
                site looks good (and works as it should) otherwise
                you aren’t going to build the trust that you need in order to
                get a sale.
            p.
                Hyperlinks are something we always check before we go live as a
                matter of course, and after you go live it’s very easy to
                maintain yourself if you change content later on.

        default
            p There is no long description for this weakness.


mixin weaknesslist(weaknesses)
    each weakness in weaknesses
        div.card
            div.card-block
                h4.card-title #{weakness.shortnegative}
                div.card-text
                    +longNegative(weakness)
