section#skip-the-marketing
    p#headline SKIP THE MARKETING COPY AND TRY IT OUT?
    section#user-details
        form(name="userdetails", action="http://localhost:3001/userdetails", method="post")
            input#email(type="text", name="email", placeholder="EMAIL")
            input(type="submit", value="> GO")
        p#disclaimer.
            You'll want to pop in a real email for this. We won't spam or sell it, for realses.
