section(id="welcome")
    h1 LANDING PAGE HEADLINES SUCK
    p.body-copy
        p Good thing the #{runtime.toolname} doesn't.
        p What would it be like if the answer to just six quick questions is all you needed to win over a prospective web design client?
        p With Foxley, it's easy.

    p.body-copy
        p Well colour me green and call me a cucumber, I'm intrigued.