extends common/layout
block content
    h1 QUESTIONS SHOW UP HERE.
    form(action="generate", method="post")
        input(name="questions", type="hidden", value=body.questions)
        input(name="email", type="hidden", value=body.email)

        if body.questions
            pre The Questions:
            if body.questions[0] == '1'
                include questions/q1
            if body.questions[1] == '1'
                include questions/q2
            if body.questions[2] == '1'
                include questions/q3
            if body.questions[3] == '1'
                include questions/q4
            if body.questions[4] == '1'
                include questions/q5
            if body.questions[5] == '1'
                include questions/q6
            if body.questions[6] == '1'
                include questions/q7
            if body.questions[7] == '1'
                include questions/q8
            if body.questions[8] == '1'
                include questions/q9
            if body.questions[9] == '1'
                include questions/q10

        input(type="submit")
