block content
    h1 #{data.heading}
    p Was it as good for you as it was for us?
    p I thought so.
    p And now it's time to refine the results and create your kit.

    input(type="hidden" name="customise" value="1")
    input(type="submit" value="I can practically smell the finish line.")