p.
    Does the website look professional and is it aesthetically pleasing?

label(for="q1yes") YES
input#q1yes(type="radio", name="q1", value="1")
label(for="q1no") NO
input#q1no(type="radio", name="q1", value="0")
